// Chivo font family

@font-face {
  font-family: Chivo;
  src: url(../fonts/chivo/Chivo-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Chivo;
  src: url(../fonts/chivo/Chivo-Light.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Chivo;
  src: url(../fonts/chivo/Chivo-Bold.ttf);
  font-weight: bold;
}

// Bungee font family

@font-face {
  font-family: Bungee;
  src: url(../fonts/bungee/Bungee-Regular.ttf);
  font-weight: normal;
}